.filters-row input,
.filters-row select {
  width: calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-color: #f27630;
}

@media screen and (max-width: 991px) {
  .filters-row {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .filters-row input,
  .filters-row select {
    margin-bottom: 2rem;
    width: 80%;
  }
}

@media screen and (max-width: 479px) {
  .filters-row input,
  .filters-row select {
    width: 90%;
  }
}

.people-bio {
  transition: 
    opacity 0.2s ease,
    visibility 0.2s 0s;
}

.people-bio.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.people-bio.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease;
}

.person-image.scalable-img {
  transition: transform 0.3s ease;
  transform: scale3d(1, 1, 1) translate(-50%, -50%);
  transform-origin: center left;
  transform-style: preserve-3d;
}

.person-image > img {
  max-height: inherit;
  max-width: inherit;
  min-height: inherit;
  min-width: inherit;
  width: unset !important;
}

.people-card:hover .person-image.scalable-img,
.people-card:focus .person-image.scalable-img {
  transform: scale3d(1.15, 1.15, 1) translate(-50%, -50%);
}